
hl {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

}

.we {
  text-align: center;
  color: #000080;
}

.ec {
  text-align: center;
  color: #000080;
}

.cert{
  text-align: center;
  color: greenyellow;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}



/*
  Welcome section
*/
#Welcome {
  position: relative;
  display: flex;
  align-items: center;
}

.brand-container-outer {
  margin-top: -400px;
}

.brand-container-inner {
  width: 100%;
}

.brand-container-inner img{
  width: 35%;
  height:35%;

}
.brand-container {
  padding: 75px 110px;
}

.brand-name {
  font-size: 3.8rem;
}

.brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#Contact {
  min-height: 1197px;
}

.welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.welcome-title {
  margin-bottom: 40px;
}

.welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome-left-col {
  display: flex;
  align-items: center;
}

.welcome-right {
  color: white;
  background-color: #000080;
  padding: 80px 43px 70px;
  height: 100%;
}

.welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#Portfolio {
  padding-top: 80px;
}

.we{
  font-size: 35px;
}

.ec{
  font-size: 35px;
}
.portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.portfolio-name {
  width: 400 px;
  height: 400 px;
  display: flex;
  align-items: center;
  text-align: center;
}

.portfolio-description {
  width: calc(100% - 300px);
  padding: 20px 45px;
}

.portfolio-description h3+h4 {
  margin-bottom: 20px;
}

.text-orange {
  color: orange;
}

.text-black {
  color: Black;
}
.text-red {
  color: #FF0000;
}

.text-pink {
  color: pink;
}
.text-maroon {
  color: maroon;
}

.text-dark-gray {
  color: #676767;
}

.title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#Contact {
  padding-top: 95px;
}

.contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.btn-submit:focus,
.btn-submit:hover {
  background-color: #676767;
}

.copyright-text {
  margin-bottom: 30px;
}
.linkedIn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.link {
  color: #676767;
}

@media (max-width: 1054px) {
  .contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .contact-items-container {
    flex-direction: column;
  }

  .contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #ContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-name {
    justify-content: center;
  }

  .portfolio-name,
  .portfolio-description {
    width: 100%;
  }

  .portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .brand-name {
    font-size: 3rem;
  }

  .brand-container {
    padding: 25px;
  }
}
